<% if flash[:danger] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:danger] %>
  </div>
<% end %>

<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#sign-in" aria-controls="sign-in" role="tab" data-toggle="tab">Sign In</a></li>
    <li role="presentation"><a href="#sign-up" aria-controls="sign-up" role="tab" data-toggle="tab">Sign Up</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="sign-in">
      <%= form_with scope: :session, url: login_path, local: true do |f| %>
        <div class="form-row">
          <div class="col-md-12">
            <%= f.label :username_signin, "Username", class: "control-label" %>
            <%= f.text_field :username_signin, class: "form-control" %>
          </div>
          <div class="col-md-12">
            <%= f.label :password_signin, "Password", class: "control-label" %>
            <%= f.password_field :password_signin, class: "form-control" %>
            <small id="passwordHelpBlock" class="form-text text-muted">
              Your password must be at least 6 characters long.
            </small>
          </div>
          <div class="col-md-6">
            <%= f.submit 'Sign In', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="sign-up">
      <%= form_with scope: :user, local: true do |f| %>
        <%= render 'shared/error' %>
        <div class="form-row">
          <div class="col-md-6">
            <%= f.label :username, class: "control-label" %>
            <%= f.text_field :username, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :email, class: "control-label" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :phone, class: "control-label" %>
            <%= f.phone_field :phone, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :password, class: "control-label" %>
            <%= f.password_field :password, class: "form-control" %>
            <small id="passwordHelpBlock" class="form-text text-muted">
              Your password must be at least 6 characters long.
            </small>
          </div>
          <div class="col-md-6">
            <%= f.submit 'Register', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
